<html>
<head>
  <title>Basking</title>
  <meta content='IE=edge' http-equiv='X-UA-Compatible' />
  <meta charset='UTF-8' />
  <meta content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no' name='viewport' />
  <link rel="stylesheet" type="text/css" href="./assets/vital.min.css" />
  <link rel="stylesheet" type="text/css" href="./assets/styles.css" />
</head>
<body>
  <script src="./assets/axios.min.js"></script>
  <script src="./assets/vue.min.js"></script>

  <div id="app">
    <main>
      <div class="autogrid">
        <section class="col">
          <div class="feed-card">
            <div class="autogrid">
              <div class="col-1-3">
                <div class="load" v-if="fetchingDiskSpace"></div>
                <h4 v-else>Disk Used: {{diskCapacity}}</h4>
              </div>
              <div class="col-2-3">
                <meter min="0" v-bind:max="diskSize" v-bind:value="diskUsed"></meter>
              </div>
            </div>
            <div class="autogrid">
              <div class="col-1-3">
                <div class="load" v-if="fetchingCPUUsage"></div>
                <h4 v-else>CPU Used: {{cpuUsageStr}}</h4>
              </div>
              <div class="col-2-3">
                <meter min="0" max="100" v-bind:value="cpuUsageNum"></meter>
              </div>
            </div>
          </div>
        </section>

        <section class="col">
          <div class="feed-card">
            <h2>Apps</h2>
            <ul>
              <li><a href="https://basking.wroten.me/emby">Emby</a></li>
              <li><a href="https://basking.wroten.me/portainer">Portainer</a></li>
              <li><a href="http://basking:32775/">Syncthing</a>*</li>
            </ul>
            <small>* Local Only</small>
          </div>
        </section>
      </div>
    </main>

    <footer class="row">
      <section class="section">
        <small class="small">
          Last Built:
          <span v-if="fetchingLastBuildDate" class="load smallest"></span>
          <span v-else class="fadein">{{lastBuildDate}}</span>
        </small>
      </section>
    </footer>
  </div>

  <script src="./assets/app.js"></script>
</body>
</html>
